<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/results.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="weatherResults">
    <h1>Weather in {{ loc_name }}</h1>
    <h3>Weather in {{ loc_region }}</h3>
    <h1>Weather in {{ curr_temp_c }}</h1>
    <h2>Weather in {{ curr_condition }}</h2>
    <h2>Weather in {{ feels_like }}</h2>
   
</div>
</body>
</html>